:root {
    font-family: 'Gowun Dodum', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: #4a4a4a;
    background-color: #f0e6d2;
    /* Soft beige background */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;